# Ignorar arquivos de log
*.log

# Ignorar diretórios de cache e build
__pycache__
*.pyc
node_modules/

# Ignorar arquivos de IDE
.idea/
.vscode/

# Ignorar arquivos de ambiente
.env

# Ignorar arquivos temporários
*.tmp
