<html>
<body style="font-family: Arial, sans-serif; color: #333; background-color: #f9f9f9; margin: 0; padding: 20px; text-align: center;">
    <!-- Banner -->
    <div style="background-color: #333; color: #ffffff; padding: 20px; border-radius: 8px 8px 0 0; margin: 0 auto 20px; max-width: 600px;">
        <h1 style="font-size: 24px; margin: 0;">Lead Cadastrado com Sucesso!</h1>
    </div>

    <!-- Conteúdo principal -->
    <div style="background-color: #ffffff; border-radius: 0 0 8px 8px; padding: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border: 1px solid #ddd; margin: 0 auto; max-width: 600px;">
        <h2 style="color: #000;">Boas notícias: Novo lead!</h2>
        <div style="margin-bottom: 20px;"><strong style="color: #333;">Nome:</strong> {nome}</div>
        <div style="margin-bottom: 20px;"><strong style="color: #333;">Telefone:</strong> {telefone}</div>
        <div style="margin-bottom: 20px;"><strong style="color: #333;">Email:</strong> {email}</div>
        <div style="margin-bottom: 20px;"><strong style="color: #333;">Patrimônio: Até </strong> {patrimonio}</div>
        <div style="margin-bottom: 20px;"><strong style="color: #333;">Aporte Mensal: Até </strong> {aporte_mensal}</div>
        <div style="font-size: 12px; color: #777; margin-top: 20px;">Data e Hora do Envio: {timestamp}</div>
    </div>
</body>
</html>
